<div class="editer">
  <%= form_with(model: @content, local: true, url: choose_new_or_edit) do |form| %>
    <% if @content.errors.any? %>
      <div id="error_explanation">
        <h2>error count : <%= @content.errors.count %></h2>
        <ul>
  
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    
    <div class="content_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div class="content_image">
      <%= form.label :image %><br>
      <div class="image_preview">
        <% if @content.image.present? %>
            <% type = file_type(@content.image.url) %>
            <% if type == 'image' %>
              <%= image_tag @content.image.url, class: "preview" %><br>
              <%= video_tag "", :controls => true, class: "preview" %>
            <% elsif type == 'video' %>
              <%= image_tag "" , class: "preview" %><br>
              <%= video_tag @content.image, :controls => true, class: "preview" %>
            <% end %>
        <% else %>
          <%= image_tag "" , class: "preview" %><br>
          <%= video_tag "", :controls => true, class: "preview" %>
        <% end %>
      </div>
      <%= form.file_field :image, class: "image_upload" %>
    </div>
    <%= form.submit %>
  <% end %>
  
  <%= link_to "cancel", content_index_path %>
</div>