<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header class="header">
    instaclone
    <%= link_to "top", root_path, class: "btn btn-info" %>
    <%= link_to "instagram", content_index_path, class: "btn btn-info" %>
    
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id), class: "btn btn-info" %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "btn btn-info" %>
    <% else %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-info" %>
      <%= link_to "Login", new_session_path, class: "btn btn-info" %>
    <% end %>
 </header>

  <body>
    <%= yield %>
  </body>
  
  <footer class="footer">
    @foooooter
  </footer>
</html>
